body {
    background-color: #efefef;
    font-family: "Arial Narrow", sans-serif;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    background-color: #eddaff;
    border:2px black solid;
    border-radius: 10px;
}

.Conteiners {
    height: 180px;
    width: 500px;
    background-color: #aee9b5;
    border: 1px black solid;
    border-radius: 30px;
}

.Conteiners h1 {
    text-align: center;
}

.buttonsToDo {
    margin: 0 25%;
    width: 50%;
    height: 50px;
    border: 1px black solid;
    border-radius: 50px;
}

.buttonsToDo:hover {
    width:65%;
    margin: 0 18%;
    background-color: #ffe2a8;
}

.tableContainer {
    background-color: #eddaff;
    width: 1000px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    margin:10px auto;
}

.textDeleteLine {
    margin: 0 30% 10px 30%;
    text-align: center;
    min-width: 40%;
    border: 1px black solid;
    border-radius: 50px;
}

.createdTable {
    background-color: #8c9aff;
    width: 100%;
    border-radius: 10px;
}

.columnEven {
    text-align: center;
    background-color:#eceefb;
}

.columnOdd {
    text-align: center;
    background-color:#ccccff;
}