body {
    color:#ae7c78;
}

header {
    border-bottom: #ae7c78 2px solid;
    border-top: #ae7c78 2px solid;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:20px 0;
}

.header_text {
    padding: 16px;
    font-size:1.5em;
}

.header_text:hover {
    color: #b44946;
}

.links {
    text-decoration: none;
    color:#ae7c78;
}

.links:hover {
    text-decoration: none;
    color: #b44946;
}

.items {
    display: flex;
    width: 100%;
    height: 850px;
    flex-direction: column;
}

.pages {
    display: flex;
    width: 100%;
    height: 50px;
}

.item {
    display: flex;
    width: 50%;
    height: 150px;
    background-color: #d89999;
    border: black solid 1px;
    margin: 5px auto 0 auto;
    color:white;
}

.item_pic {
    max-width:150px;
    max-heigh:150px;
    display: flex;
}

.description h2,h3,h4{
    margin:5px;
    width:560px
}

.toCart {
    width:185px;
}

.cartLink {
    color:black;
    text-decoration: none;
}

.cartLink:hover {
    color:#3c3c3c;
    text-decoration: none;
}

.cartLink:active{
    color:white;
    text-decoration: none;
}
